In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('AdultIncome.csv')
df

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K
...,...,...,...,...,...,...,...,...
19782,53,Private,Masters,Married,White,Male,40,>50K
19783,22,Private,Some-college,Never-married,White,Male,40,<=50K
19784,40,Private,HS-grad,Married,White,Male,40,>50K
19785,58,Private,HS-grad,Widowed,White,Female,40,<=50K
19786,22,Private,HS-grad,Never-married,White,Male,20,<=50K

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19787 entries, 0 to 19786
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             19787 non-null  int64
 1   wc              19787 non-null  object
 2   education       19787 non-null  object
 3   marital status  19787 non-null  object
 4   race            19787 non-null  object
 5   gender          19787 non-null  object
 6   hours per week  19787 non-null  int64
 7   IncomeClass     19787 non-null  object
dtypes: int64(2), object(6)
memory usage: 1.2+ MB

In [32]:
df['marital status'].value_counts()

Married           9285
 Never-married    7056
 Divorced         2917
 Widowed           529
Name: marital status, dtype: int64

In [33]:
df = pd.get_dummies(df, drop_first=True)
df

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male,IncomeClass_ >50K
0,38,40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0
1,28,40,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,37,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
3,31,50,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1
4,42,40,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1,1
19783,22,40,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0
19784,40,40,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1
19785,58,40,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
19786,22,20,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0

In [34]:
X = df.drop('IncomeClass_ >50K', axis=1)
Y = df['IncomeClass_ >50K']

In [35]:
from sklearn.model_selection import train_test_split

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [38]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [39]:
dtc = DecisionTreeClassifier()
rfc = RandomForestClassifier()
svc = SVC(kernel='rbf', gamma=0.5)

**DecisionTreeClassifier**

In [40]:
from sklearn.model_selection import cross_validate, cross_val_predict, cross_val_score
from sklearn.metrics import accuracy_score

In [41]:
cv_results_dtc = cross_validate(dtc, X_train, y_train, cv=5, return_train_score=True, n_jobs=-1)
cv_results_dtc

{'fit_time': array([0.0274539 , 0.02493382, 0.02385163, 0.02389383, 0.02593684]),
 'score_time': array([0.00197864, 0.00302362, 0.00201988, 0.00199366, 0.00203276]),
 'test_score': array([0.7776374 , 0.7833228 , 0.79185092, 0.78079596, 0.77314376]),
 'train_score': array([0.9127379 , 0.91100055, 0.91100055, 0.91131643, 0.91298168])}

In [42]:
cv_results_dtc['train_score'].mean()

0.9118074234907944

In [43]:
cv_results_dtc['test_score'].mean()

0.7813501670094677

In [49]:
cross_val_score(dtc, X_train, y_train, cv=5, n_jobs=-1)

array([0.77479469, 0.78363866, 0.79279848, 0.78016425, 0.77187994])

In [45]:
cross_val_score(dtc, X_train, y_train, cv=5, n_jobs=-1).mean()

0.7811605536311461

In [50]:
y_pred = cross_val_predict(dtc, X_test, y_test, cv=5, n_jobs=-1)
y_pred

array([1, 0, 0, ..., 0, 0, 1], dtype=uint8)

In [51]:
accuracy_score(y_test, y_pred)

0.7637695805962608

**RandomForestClassifier**

In [52]:
cv_results_rfc = cross_validate(rfc, X_train, y_train, cv=5, return_train_score=True, n_jobs=-1)
cv_results_rfc

{'fit_time': array([1.35491276, 1.35294509, 1.42317867, 1.4421308 , 1.39625359]),
 'score_time': array([0.08302736, 0.07999325, 0.10571861, 0.11529088, 0.10172963]),
 'test_score': array([0.78521794, 0.80290587, 0.81048642, 0.79564119, 0.7864139 ]),
 'train_score': array([0.91265893, 0.91100055, 0.91100055, 0.91123746, 0.91298168])}

In [53]:
cv_results_rfc['train_score'].mean()

0.9117758353995047

In [54]:
cv_results_rfc['test_score'].mean()

0.7961330646811151

In [38]:
y_pred = cross_val_predict(rfc, X_test, y_test, cv=5, n_jobs=-1)
accuracy_score(y_test, y_pred)

0.7882769075290551

**SVM**

In [55]:
cv_results_svc = cross_validate(svc, X_train, y_train, cv=5, return_train_score=True, n_jobs=-1)
cv_results_svc

{'fit_time': array([10.77986073, 10.82075214, 11.01482511, 10.87358308, 10.95044303]),
 'score_time': array([1.46698475, 1.46199822, 1.44411016, 1.4589653 , 1.48099494]),
 'test_score': array([0.7912192 , 0.80448515, 0.81869867, 0.80259002, 0.79494471]),
 'train_score': array([0.88470347, 0.88083393, 0.87862276, 0.87972834, 0.88115919])}

In [40]:
cv_results_svc['train_score'].mean()

0.878661519200256

In [41]:
cv_results_svc['test_score'].mean()

0.8020712724403488

In [42]:
y_pred = cross_val_predict(svc, X_test, y_test, cv=10)
accuracy_score(y_test, y_pred)

0.7791814047498736