# Functions

## Introduction to Functions

This lecture will consist of explaining what a function is in Python and how to create one. Functions will be one of our main building blocks when we construct larger and larger amounts of code to solve problems.

**So what is a function?**

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. If you remember back to the lessons on strings and lists, remember that we used a function len() to get the length of a string. Since checking the length of a sequence is a common task you would want to write a function that can do this repeatedly at command.

Functions will be one of most basic levels of reusing code in Python, and it will also allow us to start thinking of program design (we will dive much deeper into the ideas of design when we learn about Object Oriented Programming).


## Table of Contents
1. `def` statment
2. Using `return` 
3. Function parameters
4. Unpacking function

## 1) `def` statement

Let's see how to build out a function's syntax in Python. It has the following form:

In [1]:
def name_of_function(arg1, arg2):
    """
    This is where the function's Document String (docstring) goes
    here, so you can make any describtion about your fucntion
    """
    print(arg1 * arg2)

In [2]:
name_of_function(10, 20)

200

In [3]:
name_of_function(100, 200)

20000

We begin with <code>def</code> then a space followed by the name of the function. Try to keep names relevant, for example len() is a good name for a length() function. Also be careful with names, you wouldn't want to call a function the same name as a [built-in function in Python](https://docs.python.org/2/library/functions.html) (such as len).

Next come a pair of parentheses with a number of arguments separated by a comma. These arguments are the inputs for your function. You'll be able to use these inputs in your function and reference them. After this you put a colon.

Now here is the important step, you must indent to begin the code inside your function correctly. Python makes use of *whitespace* to organize code. Lots of other programing languages do not do this, so keep that in mind.

Next you'll see the docstring, this is where you write a basic description of the function. Using iPython and iPython Notebooks, you'll be able to read these docstrings by pressing Shift+Tab after a function name. Docstrings are not necessary for simple functions, but it's good practice to put them in so you or other people can easily understand the code you write.

After all this you begin writing the code you wish to execute.

The best way to learn functions is by going through examples. So let's try to go through examples that relate back to the various objects and data structures we learned about before.

### Example 1: A simple print 'hello' function

In [4]:
def say_hello():
    """
    This function
    prints hello to the user
    """
    print('hello')

Call the function:

In [5]:
say_hello()

hello

In [6]:
say_hello()

hello

In [7]:
say_hello()

hello

### Example 2: A simple greeting function
Let's write a function that greets people with their name.

In [8]:
def greeting(name):
    print(f'Hi {name}')

In [9]:
greeting('Ahmed')

Hi Ahmed

In [10]:
greeting('Eman')

Hi Eman

## 2) Using `return`
Let's see some example that use a <code>return</code> statement. <code>return</code> allows a function to *return* a result that can then be stored as a variable, or used in whatever manner a user wants.

In [11]:
my_num = input('Please enter your number: ')
my_num

Please enter your number: Eslam

'Eslam'

### Example 3: Addition function

In [12]:
def process_num(num1, num2):
    return num1 + num2

In [13]:
# Can also save as variable due to return
result = process_num(4, 5)

In [14]:
type(result)

int

In [15]:
result

9

In [16]:
process_num(4, 50)

54

In [17]:
process_num(40,50)

90

In [18]:
process_num(400,500)

900

What happens if we input two strings?

In [19]:
process_num('one','two')

'onetwo'

Note that because we don't declare variable types in Python, this function could be used to add numbers or sequences together! We'll later learn about adding in checks to make sure a user puts in the correct arguments into a function.

## 3) Function Parameters

you can assign a default values for your paramerters, for example I used a dummy values for calculator function

In [20]:
def calculator(x=0, y=1, op='+'):
    '''
    Simple Calculator.
    x : first number
    y: seconds number
    op: operator maybe +,-,*,/
    example: calculator(5, 10, '*') ----> 50
    '''
    if op == '+':
        print(f"the sum for {x} + {y} = {x + y}")
    elif op == '-':
        print(f"the subtraction for {x} - {y} = {x - y}")
    elif op == '*':
        print(f"the multpling for {x} * {y} = {x * y}")
    elif op == '/':
        if y == 0:
            print('cant divide on zero')
        else:
            print(f"the division for {x} / {y} = {x / y}")
    else:
        print('wrong operation')

In [21]:
calculator()

the sum for 0 + 1 = 1

In [22]:
calculator(10, 11, '-')

the subtraction for 10 - 11 = -1

In [23]:
calculator(10)

the sum for 10 + 1 = 11

In [24]:
calculator(12, 13)

the sum for 12 + 13 = 25

In [25]:
calculator(12, 2, '*')

the multpling for 12 * 2 = 24

In [26]:
calculator(12, 2, '/')

the division for 12 / 2 = 6.0

In [27]:
calculator(12, 0, '/')

cant divide on zero

In [28]:
calculator(12.5, 2.5, '*')

the multpling for 12.5 * 2.5 = 31.25

define parameters by name not order

In [29]:
calculator(y=30)

the sum for 0 + 30 = 30

In [30]:
calculator(y=30, x=50)

the sum for 50 + 30 = 80

In [31]:
calculator(op='-', y=30, x=40)

the subtraction for 40 - 30 = 10

In [32]:
calculator(op='/', y=6, x=30)

the division for 30 / 6 = 5.0

In [33]:
calculator(op='/', y=0, x=30)

cant divide on zero

In [34]:
calculator(op='**', y=2, x=30)

wrong operation

### Example 1

In [35]:
def circle(radius=1, op='circum'):
    """
    Function to calculate radius & circum and volume of a circle.
    radius: enter your radius, if not found found value will be 1
    op: operation you want to calculate allowed operations ['circum', 'area', volume]
    """
    if op == 'circum':
        return 2 * 3.14 * radius
    elif op == 'area':
        return 3.14 * (radius ** 2) 
    elif op == 'volume':
        return (4/3) * 3.14 * (radius ** 3)
    else:
        return 'wrong operation'

In [36]:
circle()

6.28

In [37]:
circle(20)

125.60000000000001

In [38]:
circle(2, 'volume')

33.49333333333333

In [39]:
circle('volume', 2)

'wrong operation'

In [40]:
circle('volume')

TypeError: can't multiply sequence by non-int of type 'float'

In [41]:
circle(op='area', radius=10)

314.0

### Example 2

In [42]:
x = 7
list(range(2, 7))

[2, 3, 4, 5, 6]

In [43]:
list(range(2, 2))

[]

In [44]:
def is_prime(num):
    '''
    Naive method of checking for primes. 
    '''
    if num < 2:
        return False
    
    for n in range(2, num):
        if num % n == 0:
            return False
    return True

In [45]:
is_prime(16)

False

In [46]:
is_prime(-16)

False

In [47]:
is_prime(17)

True

In [48]:
is_prime(3)

True

In [49]:
is_prime(2)

True

In [50]:
is_prime(1)

False

another example: get all prime numbers from 1 to 100

In [51]:
for i in range(1, 101):
    if is_prime(i):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## 4) Unpacking functions

In [52]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
y = [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
z = [100, 101, 102, 103, 104, 105, 106, 107, 108, 109]
a = [200, 201, 202, 203, 204, 205, 206, 207, 208, 209]

In [53]:
list(zip(x, y, z, a))

[(0, 3, 100, 200),
 (1, 4, 101, 201),
 (2, 5, 102, 202),
 (3, 6, 103, 203),
 (4, 7, 104, 204),
 (5, 8, 105, 205),
 (6, 9, 106, 206),
 (7, 10, 107, 207),
 (8, 11, 108, 208),
 (9, 12, 109, 209)]

In [54]:
def simple_function(a, b):
    return a + b

In [55]:
simple_function(10, 20)

30

In [56]:
simple_function(10, 20, 30)

TypeError: simple_function() takes 2 positional arguments but 3 were given

In [57]:
def simple_function(*args):
    summ = 0
    for n in args:
        summ += n
    return summ

In [58]:
simple_function(10, 20)

30

In [59]:
simple_function(20, 30, 40, 100, 200)

390

In [60]:
simple_function(10, 20, 30, 40, 100, 200, 500, 700)

1600

In [61]:
def simple_function(**kwargs):
    for key, value in kwargs.items():
        print(f'k: {key}, v={value}')

In [62]:
simple_function(a=10, b=20, c=30, d=300, e=400, f=500, g='ahmed')

k: a, v=10
k: b, v=20
k: c, v=30
k: d, v=300
k: e, v=400
k: f, v=500
k: g, v=ahmed

# Great Work!