# Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

* 1) Creating a Series
* 2) Access Values

In [3]:
import numpy as np
import pandas as pd

## 1) Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [4]:
labels = ['a','b','c']

In [5]:
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [6]:
labels

['a', 'b', 'c']

In [7]:
my_list

[10, 20, 30]

In [8]:
arr

array([10, 20, 30])

In [9]:
d

{'a': 10, 'b': 20, 'c': 30}

**Using Lists**

In [11]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

**Using NumPy Arrays**

In [14]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [11]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

**Using Dictionary**

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

## 2) Access Values

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [14]:
my_data = [1,2,3,4]
countries = ['USA', 'Germany','Egypt', 'Japan']
ser1 = pd.Series(my_data, countries)

In [15]:
ser1

USA        1
Germany    2
Egypt      3
Japan      4
dtype: int64

In [16]:
ser2 = pd.Series([1,2,5,4], index=['USA', 'Germany','Italy', 'Japan'])

In [17]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [18]:
ser1['USA']

1

In [19]:
ser1['Egypt']

3

**Operations are then also done based off of index:**

In [20]:
ser1 + ser2

Egypt      NaN
Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
dtype: float64

Let's stop here for now and move on to DataFrames, which will expand on the concept of Series!
# Great Job!